html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: #0353A4;
  height: 100px;
  color: wheat;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

article {
  padding: 10px;
  margin: 10px;
  background: #B9D6F2;
  flex: 200px;
}

section {
  display: flex;
  flex-flow: row wrap;
}

.ex_2{
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn-white{
  background-color: #F7F3CE;
}
.btn-blue{
  background-color: #A4D9F2;
}
.btn-green{
  background-color: #9BD0AE;
}
.btn-red{
  background-color: #F9A88F;
}
.btn-black{
  background-color: #6D6866;
}

.btn-style{
  border-radius: 5%;
  margin: 3px;
  color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 3em;
  font-size: 20px;
  font-weight: bold;
  width: 10em;
  height: 5em;
}
.mtg{
  flex: 100%;
  background-color: darksalmon;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  color: aliceblue;
  font-size: 30px;
  font-weight: bold;
  margin: 3px;
}