html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: #0353A4;
  height: 100px;
  color: wheat;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

article {
  padding: 10px;
  margin: 10px;
  background: #B9D6F2;
  flex: 200px;
}

section {
  display: flex;
  flex-flow: row wrap;
}